<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns="http://www.w3.org/1999/html">
<div class="output">
    {% include 'header.html' %}
</div>

<!--CARD-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <!-- CARD start-->
            <div class="col">
                <div class="card shadow-sm">
                    <iframe class="bd-placeholder-img card-img-top" src="/thumb?image={{image}}" height="255"
                            width="100%" scrolling="no">Image
                    </iframe>
                    <div class="card-body">
                        <h4 style="color:thistle"> {{the_cards[image].title}}</h4>

                        {% for para in the_cards[image].paragraphs %}
                        <p class="card-text">

                            {{para.paragraph}}

                        </p>
                        {% endfor %}

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!--                                <button id="image" class="update-button btn btn-sm btn-outline-secondary"-->
                                <!--                                        type="button">Update-->
                                <!--                                </button>-->
                            </div>
                            <small class="text-body-secondary">{{the_cards[image].id}} mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD end-->

            <!-- CARD2 start-->
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">

                            <!-- FORM -->
                            <form action="/card-update?image={{image}}" method="post">
                                <div class="mb-3 mt-3">
                                    <label for="id" class="form-label">ID:</label>
                                    <input type="number" id="id" name="id" min="1" max="9999" value="{{the_cards[image].id}}">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                <div class="mb-3 mt-3">
                                     <select type="name" class="form-select" id="name" aria-label="Default"
                                        name="name" value="{{the_cards[image].name}}">
                                          <option selected>{{the_cards[image].name}}</option>
                                          <option value="tom_hanks.jpg">tom_hanks.jpg</option>
                                          <option value="sunset.jpg">sunset.jpg</option>
                                          <option value="kitchen2.jpg">kitchen2.jpg</option>
                                          <option value="Don_Simpson.jpg">Don_Simpson.jpg</option>
                                      </select>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="title" class="form-label">Title:</label>
                                    <input type="title" class="form-control" id="title" placeholder="Enter title"
                                           name="title" value="{{the_cards[image].title}}">
                                </div>


                                <div class="mb-3 mt-3">

                                    {% for para in the_cards[image].paragraphs %}
                                    <textarea class="custom-textarea" type="text" name="paragraphs[]">{{para.paragraph}}</textarea>
                                    {% endfor %}

                                </div>

                            </form>
                            <!-- FORM -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD2 end-->

        </div>
    </div>
</div>
<!-- CARD -->

<div class="output">
    {% include 'footer.html' %}
</div>
</html>


<!--SAVE FOR AUTHENTICATION-->
<!--                                <div class="mb-3 mt-3">-->
<!--                                    <label for="email" class="form-label">Email:</label>-->
<!--                                    <input type="email" class="form-control" id="email" placeholder="Enter email"-->
<!--                                           name="email">-->
<!--                                </div>-->
<!--                                <div class="mb-3 mt-3">-->
<!--                                    <label for="pwd" class="form-label">Password:</label>-->
<!--                                    <input type="password" class="form-control" id="pwd" placeholder="Enter password"-->
<!--                                           name="password">-->
<!--                                </div>-->
<!--                                <div class="form-check mb-3">-->
<!--                                    <label class="form-check-label">-->
<!--                                        <input class="form-check-input" type="checkbox" name="remember"> Remember me-->
<!--                                    </label>-->
<!--                                </div>-->
