<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns="http://www.w3.org/1999/html">
<div class="output">
    {% include 'header.html' %}
</div>

<!--CARDS-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h2 class="fw-light" style="color:thistle">Dashboard</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for name in dash_cards %}
            <!-- CARD start-->
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                    <iframe class="bd-placeholder-img card-img-top" src="/dash-view?name={{name}}" height="800"
                            width="100%" scrolling="no">Dash Widget
                    </iframe>
                    </div>
                </div>
            </div>
            <!-- CARD end-->
            {% endfor %}
        </div>
    </div>
</div>

<div class="output">
    {% include 'footer.html' %}
</div>
</html>
