<!doctype html>
<html data-bs-theme="auto" lang="en" xmlns="http://www.w3.org/1999/html">
<!--    CARD-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h2 class="fw-light" style="color:thistle"> {{dash_cards[name].title}}</h2>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">
                        <div class="text-body-secondary"> {{dash_cards[name].id}} </div>
                        <img alt="Van in Sedona AZ" height="100%" src="/static/images/{{image}}" style="display:flex;justify-content:center;"
                             width="100%">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
