<!doctype html>
<html data-bs-theme="auto" lang="en" xmlns="http://www.w3.org/1999/html">
<div class="output">
    {% include 'header.html' %}
</div>
<!--    CARD-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h2 class="fw-light" style="color:thistle">Loan Calculator</h2>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">


                        <div class="container mt-3">
                            <h4>
                                <pre id="loan-header-target">
                                    loan payment formula display
                                </pre>
                            </h4>
                            <form action="/loan-calculator/" class="was-validated">
                                <div class="mb-3">
                                    <label for="PV">Present Value:</label>
                                    <input type="number" class="form-control" id="PV" placeholder="Enter present value"
                                           name="PV" size="20" value="{{PV}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="rate">Interest Rate:</label>
                                    <input type="number" step="0.001" class="form-control" id="rate" placeholder="Enter interest rate"
                                           name="rate" size="20" value="{{rate}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="number">Number of Months:</label>
                                    <input type="number" class="form-control" id="number" placeholder="Enter number of months"
                                           name="number" size="20" value="{{number}}" required>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                            <pre id="loan-button-target">
<!--                                 loan calculation goes here: {{PV}} - {{rate}} - {{number}} - {{payment}}-->
                                {{display}}
                            </pre>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="output">
    {% include 'footer.html' %}
</div>
</html>
